.main-menu {
    padding: 0;
    ul {
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;

        li {
            display: inline;
            margin: 0 5px 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }

}

.custom-logo-link {
    display: flex;
    height: 100%;
    align-items: center;
    img.custom-logo {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

.cart {
    &-link {
        display: inline-block;
        height: 23px;
        position: relative;

        .cart-icon {
            height: 25px;
            width: 25px;
            background: url("icons/cart.svg") center no-repeat;
            display: inline-block;
        }
    }

    .items {
        position: absolute;
        top: -9px;
        left: 15px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: rgb(120, 22, 233);
        border: 2px solid white;
        color: white;
        font-size: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
