input[type="search"] {
    background-color: #fff;
    border: none;
    font-weight: 500;
    font-size: 110%;
    border-bottom: 1px solid gray;
    padding: 0.3rem 1rem;
    margin-right: 0.3rem;
}