.main-menu {
  padding: 0; }
  .main-menu ul {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500; }
    .main-menu ul li {
      display: inline;
      margin: 0 5px 0 0; }
      .main-menu ul li:last-child {
        margin: 0; }

.footer-menu ul,
.footer-widgets ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px; }

.footer-menu ul li {
  display: inline;
  margin: 0 10px 0 0; }
  .footer-menu ul li:last-child {
    margin: 0; }
  .footer-menu ul li a {
    color: #939393;
    text-decoration: none; }
  .footer-menu ul li.curent-menu-item a {
    color: #ff9292; }

.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2 {
  max-width: none; }

.woocommerce .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Rajdhani', sans-serif; }

