@import "_cart";
@import "_login";

.woocommerce {
    .col2-set {
        .col-1,
        .col-2 {
            max-width: none;
        }
    }

    .form-row {
        display: flex;
        flex-direction: column;
    }
}
